.taxPartnerInstallment {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 80px 0px;
}

.taxPartnerInstallmentCards {
  position: relative;
  transition: 0.4s;
}

.taxPartnerInstallmentCardsImage {
  text-align: center;
  margin-bottom: 30px;
}

.taxPartnerInstallmentCards h6 {
  color: white;
  background-color: var(--mainColor);
  padding: 2px 12px;
  font-size: 14px;
  display: inline-block;
  position: absolute;
  top: 0px;
  z-index: 10;
  left: 42px;
}

.taxPartnerInstallmentCards p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.taxPartnerInstallmentCards a {
  background-color: rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 46%;
  width: 100%;
  height: 50px;
  line-height: 50px !important;
  text-align: center;
  cursor: pointer;
  transition-duration: 399ms;
  transition-property: transform;
  transform: translateY(50%);
  opacity: 0;
}

.taxPartnerInstallmentCards:hover a {
  transition-duration: 300ms;
  transform: translateY(-1%);
  opacity: 1;
}

@media only screen and (max-width: 576px) {
  .taxPartnerInstallment {
    grid-template-columns: repeat(1, 1fr);
  }
  .taxPartnerInstallmentCards h6 {
    left: 85px;
  }
}
@media only screen and (max-width: 375px) {
  .taxPartnerInstallmentCards h6 {
    left: 60px;
  }
}
@media only screen and (max-width: 320px) {
  .taxPartnerInstallmentCards h6 {
    left: 32px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .taxPartnerInstallment {
    grid-template-columns: repeat(2, 1fr);
  }
  .taxPartnerInstallmentCards h6 {
    left: 56px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1000px) {
  .taxPartnerInstallment {
    grid-template-columns: repeat(2, 1fr);
  }
  .taxPartnerInstallmentCards h6 {
    left: 56px;
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1024px) {
  .taxPartnerInstallmentCards h6 {
    left: 1px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1400px) {
  .taxPartnerInstallmentCards h6 {
    left: 20px;
  }
}
