.aboutHero {
  padding: 100px 0px;
  position: relative;
  height: 500px;
}

.aboutHero h2 {
  font-size: 59px;
  font-weight: 700;
  margin: 20px 0px 10px;
}

.aboutHero h2 span {
  color: #0369a1;
}

/* Award */
.Award {
  margin: 100px 0px;
}

.Award p {
  margin-bottom: 50px;
  max-width: 450px;
}

.Award .awardImg {
  position: relative;
}

.awardImg::after {
  background-repeat: no-repeat;
  bottom: -25px;
  content: "";
  height: 26px;
  left: -15px;
  position: absolute;
  width: 165px;
  background-image: url("../../assets/images/about/shap1.png");
}

.awardImg::before {
  background-repeat: no-repeat;
  bottom: -25px;
  content: "";
  height: 26px;
  transform: rotateY(180deg);
  right: 210px;
  position: absolute;
  width: 165px;
  background-image: url("../../assets/images/about/shap.png");
}

/* Why Us */
.WhyUs {
  margin: 70px 0px;
}

.WhyUs h2 {
  font-weight: 700;
  font-size: 34px !important;
  text-align: center;
  opacity: 0.9;
  border-bottom: 2px solid #0369a1;
  max-width: 200px;
  line-height: 50px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.WhyUs .whyUsLogo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.logoImg {
  cursor: pointer;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .aboutHero {
    height: auto;
  }

  /* .aboutHero::after {
    height: 330px;
    width: 630px;
  } */
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .aboutHero {
    height: auto;
  }

  /* .aboutHero::after {
    background-image: url("/images/about/tavphoto.webp");
    width: 230px;
    height: 300px;
    right: 30px;
  } */
}

@media only screen and (max-width: 576px) {
  .aboutHero {
    height: auto;
  }

  /* .aboutHero::after {
    content: none;
  } */

  .Award {
    margin: 0px;
  }
}
