.heroSec {
  background-image: url("../../../assets/images/Hero section (2).svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 34px 0px;
}

.heroSec h1 {
  font-family: "PF Square Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 68px;
  color: #000d14;
  margin: 0px;
}

.heroSec h1 span {
  color: #0369a1;
}

.heroSec p {
  max-width: 580px;
  font-family: "PF Square Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #3c484e;
  margin: 20px 0px 30px;
}

.heroSec button {
  margin-right: 30px;
}

.review {
  margin-top: 60px;
}

.review p {
  margin-top: 5px;
  font-family: "PF Square Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #3c484e;
}

.review .icon {
  color: #ffca57;
  margin-right: 3px;
  font-size: 20px;
}

@media only screen and (max-width: 576px) {
  .heroSec h1 {
    font-size: 42px;
    line-height: 48px;
  }

  .heroSec button {
    margin-bottom: 30px;
  }

  .review {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 1030px) {
  .heroSec button {
    margin-bottom: 30px;
  }
}
