@import url("https://fonts.cdnfonts.com/css/pf-square-sans-pro");

:root {
  --mainColor: #0369a1;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "PF Square Sans Pro", sans-serif;
}

* {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

a {
  font-family: "PF Square Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #3c484e;
  transition: all linear 0.3s;
  text-decoration: none;
}

a:hover {
  color: var(--mainColor);
}

.button {
  font-family: "PF Square Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0369a1;
  padding: 18px 36px;
  border: 1px solid #0369a1;
  border-radius: 30px;
  background-color: inherit;
  transition: all linear 0.2s;
  text-decoration: none;
}

.button:hover {
  background-color: #0369a1;
  color: #ffffff;
}

h3 {
  font-family: "PF Square Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 125%;
  color: #0369a1;
}

h2 {
  font-family: "PF Square Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 125%;
  color: #000d14;
}

p {
  font-family: "PF Square Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #3c484e;
}

.form-control {
  border: 0px !important;
  width: 120px !important;
  padding: 0px !important;
}

.form-control::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6b7280;
}

.form-control:focus {
  box-shadow: none !important;
}

.customerFeedback {
  background-image: url("../images/BG.png");
  background-position: center right;
  background-repeat: no-repeat;
  padding: 150px 0px;

  /* background-size: cover; */
}

.customerFeedback > .slick-slider > .slick-prev:before {
  content: "....";
  background: url("../images/Vector 106.png");
  background-position: top center;
  background-size: cover;
  top: 0;
  font-size: 15px;
  color: transparent;
}

.customerFeedback > .slick-slider > .slick-prev {
  left: 79px;
  background: transparent;
  padding: 22px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: 1px solid #0369a1;
  border-radius: 50%;
  z-index: 2;
  margin-left: 79%;
  margin-top: 116px;
}

.customerFeedback > .slick-slider > .slick-next:before {
  content: "....";
  background: url("../images/Vector 106 (1).png");
  background-position: top center;
  background-size: cover;
  top: 0;
  color: transparent;
  font-size: 15px;
}

.customerFeedback > .slick-slider > .slick-next {
  right: 79px;
  padding: 22px;
  background-color: #0369a1;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 2;
  margin-top: 116px;
}

.customerInfoMain > .slick-slider > .slick-dots li button:before {
  color: #606060 !important;
  font-size: 8px;
  margin-top: 40px;
  opacity: 1;
}

.customerInfoMain > .slick-slider > .slick-dots li.slick-active button:before {
  color: #4f42c9 !important;
  font-size: 8px !important;
}

@media screen and (max-width: 320px) {
  .form-control {
    border: 0px !important;
    width: 100px !important;
    padding: 0px !important;
  }

  .navbar > .container-fluid {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .navbar-brand {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .navbar-brand {
    margin-bottom: 10px;
  }

  .customerFeedback {
    background: none;
    padding: 100px 0px;
  }

  .customerFeedback > .slick-slider > .slick-prev {
    margin-top: 550px;
    margin-left: 0%;
  }

  .customerFeedback > .slick-slider > .slick-next {
    margin-top: 550px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .navbar-brand {
    margin-bottom: 10px;
  }

  .customerFeedback > .slick-slider > .slick-prev {
    margin-top: 216px;
    margin-left: 50%;
  }

  .customerFeedback > .slick-slider > .slick-next {
    margin-top: 216px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .customerFeedback > .slick-slider > .slick-prev {
    margin-left: 65%;
    margin-top: 153px;
  }

  .customerFeedback > .slick-slider > .slick-next {
    margin-top: 153px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .customerFeedback > .slick-slider > .slick-prev {
    margin-left: 70%;
    /* margin-top: 153px; */
  }

  .customerFeedback > .slick-slider > .slick-next {
    /* margin-top: 153px; */
  }
}

.rti--container {
  border: none !important;
  max-width: 550px;
}

.rti--container:focus-within {
  border-color: none !important;
  box-shadow: none !important;
}

/* jot form */
.formFooter.f6.branding21 {
  display: none !important;
}

@media only screen and (max-width: 576px) {
  .rti--container {
    width: 250px !important;
  }
}

/* leaflet */

.leaflet-container {
  margin: 30px auto;
  height: 500px;
  z-index: 0;
  border: 2px solid #333;
  overflow: hidden;
}
