.clientRegistry {
  margin: 70px 0px;
}

#clientRegistry {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.form h2 {
  text-align: center;
  margin: 20px 0px;
}

.form p {
  display: block;
  font-family: "PF Square Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  color: #3c484e;
  margin-bottom: 10px;
  overflow: hidden;
}

.form label {
  display: block;
  font-family: "PF Square Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  color: #3c484e;
  margin-bottom: 10px;
}

.form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 20px;
  outline: 0px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  font-family: "PF Square Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #3c484e;
}

.form button {}

.form select {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 20px;
  outline: 0px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  font-family: "PF Square Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #3c484e;
}

.uploadedFiles {
  margin-top: 20px;
}

.form input::file-selector-button {
  display: none !important;
}

.fileLabel {
  cursor: pointer;
}

.form .fileType {
  border: none !important;
  outline: none !important;
  display: none !important;
  cursor: pointer;
}

.form .fileIcon {
  font-size: 40px;
}

.form .browseFile {
  text-align: center;
  background-color: #fbfcff;
  padding: 30px 0px;
  border: 1px dashed;
  cursor: pointer;
}

.form a {
  font-size: 24px;
  font-weight: 500;
  color: var(--mainColor);
}

.form p span {
  color: var(--mainColor);
}

.radioInput input {
  width: max-content;
  margin-right: 10px !important;
}

.radioInput label {
  display: inline-block;
}

.extraCharge {
  width: 50%;
  margin: 10px 0px;
}

.addMoreOption {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.addMoreOption .tagSelectedIcon {
  font-size: 26px;
  color: #0369a1;
  cursor: pointer;
  margin-bottom: 20px;
}

.addMoreOption input {
  margin: 0px;
}


@media only screen and (max-width: 576px) {
  .form h2 {
    font-size: 24px;
  }

  .addMoreOption input {
    padding: 10px 10px;
    font-size: 16px;
  }

  .addMoreOption .tagSelectedIcon {
    font-size: 24px;
    color: #0369a1;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .addMoreOption {
    gap: 0px;
  }

  .form label {
    font-size: 16px;
    line-height: 140%;
  }

  .form p {
    font-size: 16px;
    line-height: 140%;
  }
}